<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
    <style type="text/css">
        .main {
            line-height: 1.6;
            text-align: justify;
            text-indent: 2em;
        }
    </style>
</head>
<body>
<div style="text-align: center"><span style="font-size: 30px"><b>入职欢迎信</b></span></div>
<div>
    亲爱的 <span th:text="${realName}" style="color: red"></span> 先生/女士：
</div>
<div class="main">
    非常欢迎您加入某不知名公司，我们为拥有您这样的伙伴而自豪。我们希望，您能对自己的选择而同样自豪——为公司、为即将结识的同伴们。
</div>
<div class="main">
    我们将在共同信任的基础上，度过您在公司工作的岁月，这种理解和信任是愉快工作的桥梁和纽带。
</div>
<div class="main">
    某不知名公司是专业从事XXXX。公司自从成立发展以来，在各个方面都取得了较高的荣誉和评价，在未来的发展中公司将以XX为主业，把产品做精做专，定位国内、国际市场，延伸产品线，拓宽销售渠道，最终实现上市目标，使公司的核心团队，成为原始股东。
</div>
<div class="main">
    我们的使命是“XX”；我们的愿景是“XX”。为实现这个愿景，需要所有的员工秉承“XX”的企业精神，走团队合作的道路，把个人目标和公司目标最佳地结合起来，实现公司与个人的共赢。
</div>
<div class="main">
    从今天起，我希望你们都是一个个开放系统，善于吸取周围同事的优点经验，善于与人合作，借助公司提供的资源和基础，很快地融入、提高自己。
</div>
<div class="main">
    我们XX的人才理念是“以人为本，知人善用” ，相信付出才会有回报，有忠诚才会有信任。我们也坚守：“XX”为我们的核心价值观，在努力者面前，机会总是均等的，只要你努力了，公司一定会了解你的。
</div>
<div class="main">
    从今天起你们工作的每一个环节，都对你们在XX的职业生涯中有着极其重要的意义，我希望你们十分认真地对待即将在手中的任何一件工作，以及你们的团队伙伴和服务的客户。持之以恒，积沙成塔，方成大器。我也相信XX会为大家提供一个公平、公正、公开的竞争环境，致力于为大家搭建一个没有天花板的舞台。只要你有能力，只要你能为XX的发展做出贡献，只要你为XX付出了长期的忠诚，那么，公司就一定会记住你，它一定会给你所期望的待遇及荣誉！
</div>
<div class="main">
    我希望每一位新员工能够尽快地融入XX，成为XX密不可分的一份子，同时也衷心祝愿你们在XX的工作期间能够度过人生一段美好的时光，成为你职业生涯发展中最重要的一环，在工作中尽情发挥聪明才智，分享团队的光荣与温暖，成就你们本人的理想。
</div>
</body>
</html>